{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block page_title %}Mes projets & mes passions :{% endblock %}

{% block content %}
    <!-- Projet tunisie -->
    <section id="section1">
        <h2>Projet Familial - Tunisie</h2>
        <p>De Août 2019 à Août 2022, j'ai vécu dans une maison construite en SuperAdobe dans une oliveraie.<br>
            Nous avons créé une ferme pédagogique autonome en énergie :</p>
        <p id="liste">
            - Eau avec la récupération d'eau de pluie et sondage, <br>
            - Électricité avec des panneaux solaires et des batteries,<br>
            - Chauffage avec un poêle rocket à bois,<br>
            - Assainissement avec des toilettes sèches et une phytoépuration.<br>
        </p>
            
        <p>Dans le but d'être autosuffisant, que ce soit en fruit, légumes, viande, oeufs ;<br>
            Nous avons fait de la permaculture et de l'élevage de volailes (poules, canards, pintades, pigeons).<br>
            Pour le travail du sol, nous utilisions la traction équine.<br>
            De plus, j'ai construit une haie végétale afin de créer un enclos pour notre jument.<br>
        </p>
    </section>

    <section id="section2">
        <h2>Les animaux</h2>
        <p>Je suis passionnée depuis mon plus jeune âge par les animaux
            et plus précisément par les chiens et les chevaux.<br>
            J'ai fait plusieurs années d'équitation et j'ai eu la chance
            de posséder une jument pendant 3 ans lorsque j'ai déménagé en Tunisie.<br>
            Je me suis formée à l'équitation éthologique, qui est l'étude du comportement du cheval en liberté,<br>
            et qui reprends les codes de ce comportement pour dresser un cheval de la manière la plus naturelle.<br>
            Je me suis de plus formé en autodidacte à faire les soins de ma jument,<br>
            que ce soit le pansage régulier, le parage naturel, ou encore les soins en cas de blessure ou de maladie.<br>
        </p>
    </section>

    <!-- Hackcess -->
    <section id="section3">
        <h2>Hackcess</h2>
        <p>Je suis membre de l'association Hackcess, qui a pour but de promouvoir la cybersécurité.<br>
            Nous organisons des événements et des formations pour sensibiliser le public à la sécurité informatique.
        </p>
    </section>

    <!-- Loisirs créatifs -->
    <section id="section4">
        <h2>Titre 4</h2>
        <p>Paragraphe pour le titre 4.</p>
    </section>
{% endblock %}

{% block footer %}
    <p>Acia Chouchane - Tous droits réservés<br>
        CC BY-NC-ND</p>
{% endblock %}