{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <header>
        <h1>Mes passions et loisirs :</h1>
    </header>


    <div class="content">
        <section id="section1">
            <h2>Les animaux</h2>
            <p>Je suis passionée depuis mon plus jeune âge par les animaux
                et plus précisément par les chiens et les chevaux.
                J'ai fais plusieurs années d'équitation et j'ai eu la chance
                de posséder une jument pendant 3 ans quand j'ai déménagé en Tunisie.
            </p>
        </section>

        <section id="section2">
            <h2>Titre 2</h2>
            <p>Paragraphe pour le titre 2.</p>
        </section>
        
        <section id="section3">
            <h2>Titre 3</h2>
            <p>Paragraphe pour le titre 3.</p>
        </section>
    </div>    


    <footer class="footer">
        <p>Pied de page</p>
    </footer>
{% endblock %}