{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block page_title %}
    <h1 class="page-title">Accueil E-Portfolio :</h1>
{% endblock %}

{% block content %}
    <div class="content style2">
        <section id="img1">
            <p>
                Bonjour, bienvenue sur mon E-Portfolio.<br>
                Je m'appelle Acia Chouchane, j'étudie actuellement dans le domaine informatique.<br>
                Je suis une formation de BUT Réseau et Télécommunication, dans le groupe TP A1, à l'IUT de Roanne.
            </p>
        </section>
        <br>
        <section id="img2">
            <h2>Présentation</h2>
            <p>Ayant baignée dans une famille multiculturelle, j'ai eu la chance de voyager et de découvrir
                plusieurs traditions et cultures.<br>
                J'ai surtout voyagé en France, Italie et Tunisie, et j'ai habité 3 ans en Tunisie lors
                d'un projet familial de ferme pédagogique dans un écodôme.<br>
                <br>
                J'ai plusieurs projets et passions que je vous laisse découvrir en cliquant sur le bouton ci-dessous.</p>

            <a href="{{ path('app_about') }}" class="btn btn-primary">Pour en savoir plus</a>
        </section>
        <br>
        <section id="img3">
            <h2>Choix du parcours</h2>
            <p>
                Pour ma seconde année, j'aimerais suivre le parcours Cybersécurité.<br>
                C'est la principale raison pour laquelle j'ai choisi de suivre la formation du BUT RT et de venir à Roanne,<br>
                car cela fait plusieurs années que la Cybersécurité m'intéresse, m'intrigue et me passionne.<br><br>
                Je veux pouvoir protéger au mieux ma vie numérique, c'est pourquoi ce domaine m'intéresse autant.<br>
                J'ai commencé à diminuer mon empreinte sur Internet en utilisant des logiciels open-source<br>
                et à sécuriser mes comptes avec des mots de passe forts, grâce à un gestionnaire de mot de passe.<br>
                C'est aussi la raison pour laquelle j'ai rejoint Hackcess, afin de découvrir une nouvelle facette de la cybersécurité,<br>
                avec un l'apprentissage non académique, en s'amusant sur Erreur502, et en se challengeant avec des CTF et autres concours de cyber.<br><br>
                Je pense qu'en combinant plaisirs, apprentissages, challenges, intérêt et pratique,<br>
                j'arriverais alors à mon but de savoir me protéger.<br>
            </p>

            <a href="{{ path('app_cyber') }}" class="btn btn-primary">Choix du parcours</a>
        </section>
        <br>
        <section id="img4">
            <h2>Contact</h2>
            <p>
                Téléphone : +33 6 66 91 10 07  <br>
                Email : acia.chouchane@etu.univ-st-etienne.fr
            </p>
        </section>
    </div>
{% endblock %}