{% extends 'base.html.twig' %}

{% block title %}Parcours{% endblock %}

{% block page_title %}Choix de parcours : Cybersécurité{% endblock %}

{% block content %}
    <div class="container d-flex align-items-center" style="min-height: 100vh;">
        <div class="row w-100 align-items-center">
            <div class="col-md-5 d-flex justify-content-center">
                <figure>
                    <img src="{{ asset('img/cybersecurity2.jpg') }}" alt="Cybersécurité illustration" class="img-fluid">
                    <figcaption>Illustration de cybersécurité</figcaption>
                </figure>
            </div>
            <div class="col-md-7 pe-0 d-flex align-items-center">
                <p>
                    Les Apprentissages Critiques importants pour le parcours Cybersécurité sont :
                    <br><br>
                    <b>• AC11.03 :</b> Configurer les fonctions de base du réseau local<br>
                    <b>• AC11.05 :</b> Savoir identifier les dysfonctionnements du réseau local<br>
                    <b>• AC11.06 :</b> Installer un poste client expliquer la procédure mise en place (et le sécuriser : antivirus, pare-feu, comptes, …)<br>
                    <br>
                    <b>• AC13.01 :</b> Utiliser un système informatique et ses outils (intro système, fichiers, CLI, zips, outils collaboratifs sur Internet, hygiène informatique, …)<br>
                    <b>• AC13.02 :</b> Lire, exécuter, corriger et modifier un programme<br>
                    <b>• AC13.03 :</b> Traduire un algorithme, dans un langage et pour un environnement donné<br>
                    <b>• AC13.04 :</b> Connaître l'architecture et les technologies d'un site Web (Langages et outils : HTML, CSS, CMS, JS, responsive)<br>
                </p>
            </div>
        </div>
    </div>

    <div class="container d-flex align-items-center" style="min-height: 100vh;">
        <div class="row w-100 align-items-center">
            <div class="col-md-5 d-flex justify-content-center">
                <figure>
                    <img src="{{ asset('img/amelioration.jpg') }}" alt="Améliorations" class="img-fluid">
                    <figcaption>Illustration d'améliorations</figcaption>
                </figure>
            </div>
            <div class="col-md-7 pe-0 d-flex align-items-center">
                <p>
                    Les Apprentissages Critiques compliqués :
                    <br><br>
                    <b>• AC11.03 & AC11.05 :</b><br>
                    Mise en place d'une nouvelle façon de travailler,<br>
                    Plus de travail à la maison,<br>
                    Création de fiche aide,<br>
                    Meilleure compréhension de l'utilité des ressources,<br>
                    Prise en main de l'utilisation des matériels / logiciels<br>
                    <br>
                    <b>• AC13.03 :</b><br>
                    Reprise des TD & TP à la maison<br>
                    Finalisation des comptes rendus à la maison<br>
                </p>
            </div>
        </div>
    </div>

    <div class="container d-flex align-items-center" style="min-height: 100vh;">
        <div class="row w-100 align-items-center">
            <div class="col-md-5 d-flex justify-content-center">
                <figure>
                    <img src="{{ asset('img/competences.jpeg') }}" alt="Compétences" class="img-fluid">
                    <figcaption>Illustration de compétences</figcaption>
                </figure>
            </div>
            <div class="col-md-7 pe-0 d-flex align-items-center">
                <p>
                    Les Apprentissages Critiques acquis :
                    <br><br>
                    <b>• AC11.06 :</b> Nouvelle méthode d'organisation.<br>
                    <br>
                    <b>• AC13.01 :</b> Base de bonne pratique déjà acquises.<br>
                    <b>• AC13.02 :</b> Consolidation de compétences déjà acquises.<br>
                    <b>• AC13.04 :</b> Réalisation plaisante car très visuel.<br>
                </p>
            </div>
        </div>
    </div>

    <div class="container d-flex align-items-center" style="min-height: 100vh;">
        <div class="row w-100 align-items-center">
            <div class="col-md-5 d-flex justify-content-center">
                <figure>
                    <img src="{{ asset('img/MarsHack.jpg') }}" alt="Mars@Hack" class="img-fluid" style="width: 85%;">
                    <figcaption>Affiche Mars@Hack 2025</figcaption>
                </figure>
            </div>
            <div class="col-md-7 pe-0 d-flex align-items-center">
                <p>
                    Après ma participation au CTF Mars@Hack, la semaine dernière, j'ai pu mettre en pratique ce que j'avais appris, que ce soit lors des cours ou en autodidacte.
                    Je me suis beaucoup amusée lors de cet évènement même si certains défis m'ont bien cassé la tête.
                    Ce qui m'a fait réfléchir et m'a permis de confirmer que c'est bien le domaine qui me plaît et que j'ai envie d'approfondir dans la voie professionnelle.<br>
                    <br>
                    C'est pourquoi je voudrais poursuivre mon BUT R&T avec le parcours Cybersécurité afin de concrétiser mon rêve et de pouvoir m'épanouir dans un domaine que j'apprécie énormément.
                </p>
            </div>
        </div>
    </div>
{% endblock %}