{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block page_title %}RT1 - Administrer les réseaux et l'Internet{% endblock %}

{% block content %}
    <div class="container d-flex align-items-center" style="min-height: 100vh;">
        <div class="row w-100">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <figure>
                    <img src="{{ asset('img/Vlan.png') }}" alt="Réseaux de la ressource R1.03" class="img-fluid">
                    <figcaption>Réseaux de la ressource R1.03</figcaption>
                </figure>
            </div>
            <div class="col-md-6">
                <p>
                    J’ai acquis les bases de l’électricité et la connectivité des câbles en cuivre,
                    ainsi que les connaissances pour intervenir en sécurité sur des infrastructures réseau.
                    Bien que les cours aient été intéressants, le montage de circuits électriques était déjà maîtrisé.
                    Cet apprentissage a renforcé ma vigilance face aux risques électriques.
                    Je ne prévois pas d’approfondir cette compétence, car ma spécialisation en Sciences de l'Ingénieur
                    et les cours d’habilitation électrique me semblent suffisants.
                    J’ai également configuré des systèmes d’exploitation comme Linux et Windows,
                    ce qui m’a permis de mieux comprendre leurs différences et de découvrir divers protocoles réseaux.
                    Bien que ce ne soit pas l’aspect qui m’a le plus captivé, cela a été enrichissant.
                    Je n’ai pas approfondi cette compétence en dehors des cours,
                    mais je reconnais son importance pour progresser dans la formation.
                    <br><br>
                    <b>• AC11.01 :</b>Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements
                    de réseaux et télécommunications (habilitation électrique).<br>
                    <a href="https://docs.google.com/document/u/0/d/1bycLsaj9bG6t8btrhMSP3pwRBHINeaqntnTVEfqzkFc/edit" target="_blank" class="btn btn-info">Preuve AC11.01</a>
                    <a href="https://docs.google.com/document/u/0/d/1kuNmuXn_tMxRmrNh6GoXqxmU0IH_4bmDviIOCkPmkOc/edit" target="_blank" class="btn btn-info">Écrit réflexif AC11.01</a>
                    <br><br>
                    <b>• AC11.04 :</b>Maîtriser les rôles et les principes fondamentaux des systèmes d'exploitation
                    afin d'interagir avec ceux-ci pour la configuration et l'administration des réseaux et services fournis<br>
                    <a href="https://docs.google.com/document/u/0/d/1EMloBq_Hg1AkyEmlJ9-DjCIMKj3zw7ng_Z_8e0ZawwQ/edit" target="_blank" class="btn btn-info">Preuve AC11.04</a>
                    <a href="https://docs.google.com/document/u/0/d/1UhZ9o22FksPJmtXdEH9D0mSf5GWay9vr-F4FRO_TvpM/edit" target="_blank" class="btn btn-info">Écrit réflexif AC11.04</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}