{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block page_title %}RT3 - Créer des outils et applications informatiques pour les R&T{% endblock %}

{% block content %}
    <div class="img-text-container" id="img1">
        <figure style="width:50%;">
            <img src="{{ asset('img/VA_blog.png') }}" alt="Blog de la ressource R1.09" style="width:60%; height:auto; display: block; margin: 0 auto;">
            <figcaption>Blog de la ressource R1.09</figcaption>
        </figure>
        <p>
            J’ai renforcé mes compétences en programmation, notamment en algorithmique, Python et C,
            en travaillant sur des mises en situation où il fallait lire, exécuter et corriger des erreurs.
            Bien que le module ait été intéressant, il devenait parfois répétitif. Ayant déjà une bonne maîtrise de Python,
            la logique de la programmation ne m’a pas paru difficile.
            Je pratique régulièrement la programmation, ce qui m’a permis de suivre cette formation avec aisance.
            En parallèle, bien que le HTML et le CSS ne m’étaient pas inconnus, l’apprentissage de Symfony et de Bootswatch
            a enrichi mes connaissances et m’a permis de développer de nouvelles compétences.
            Cette formation a approfondi ma pratique du développement web, me préparant ainsi pour des projets
            plus complexes et personnalisés.
            <br><br>
            <b>• AC13.02 :</b> Lire, exécuter, corriger et modifier un programme<br>
            <a href="https://docs.google.com/document/u/0/d/15WrXsQLB4R1tTitfmMpd5MTwT9qZjtNH2iBufextqtg/edit" target="_blank" class="btn btn-info">Preuve AC13.02</a>
            <a href="https://docs.google.com/document/u/0/d/1QAayoYewBrEr53cqyalPYlFezgGBwczPNNI5iPLai5I/edit" target="_blank" class="btn btn-info">Écrit réflexif AC13.02</a>
            <br><br>
            <b>• AC13.04 :</b> Connaître l’architecture et les technologies d’un site Web<br>
            <a href="https://docs.google.com/document/u/0/d/16EbDz9debk2P8CLjZ6CSPcgAOpuYBx8pKPSyjoUyokE/edit" target="_blank" class="btn btn-info">Preuve AC13.04</a>
            <a href="https://docs.google.com/document/u/0/d/1svW-Wm0kHrqyjzBspq_SSD1Jx-1pSDPEpWl9LvX5mE4/edit" target="_blank" class="btn btn-info">Écrit réflexif AC13.04</a>
        </p>
    </div>
    
{% endblock %}

{% block footer %}
    <p>Acia Chouchane - Tous droits réservés<br>
        CC BY-NC-ND</p>
{% endblock %}