{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block page_title %}RT2 - Connecter les entreprises et les usagers{% endblock %}

{% block content %}
    <div class="img-text-container" id="img1">
        <figure style="width:50%;">
            <img src="{{ asset('img/R113.png') }}" alt="Analyse signaux de la ressource R113" style="width:60%; height:auto; display: block; margin: 0 auto;">
            <figcaption>Analyse signaux de la ressource R1.13</figcaption>
        </figure>
        <p>
            <b>• AC12.01 :</b> Mesurer et analyser les signaux<br>
            <a href="https://docs.google.com/document/u/0/d/10qg9N-pXgZA6ngpbWBh6osQfhMDxuhusSVSPJpF6uhs/edit" target="_blank" class="btn btn-info">Preuve AC12.01</a>
            <a href="https://docs.google.com/document/u/0/d/1iq9FVvwBq291zwAuN2beR0XuWZtLKazZtceiopDknyo/edit" target="_blank" class="btn btn-info">Écrit réflexif AC12.01</a>
            <br><br>
            <b>• AC12.05 :</b>Communiquer avec un tiers (client, collaborateur...)
            et adapter son discours et sa langue à son interlocuteur<br>
            <a href="https://docs.google.com/document/u/0/d/1VVgRM7ZcpIRRq1XKCWTmT4QpKoMydHzq4UW_07LYkOI/edit" target="_blank" class="btn btn-info">Preuve AC12.05</a>
            <a href="https://docs.google.com/document/u/0/d/17YDPEoQkN9918031VuiK4s4Fe6H67MjTs5tM875yYew/edit" target="_blank" class="btn btn-info">Écrit réflexif AC12.05</a>
        </p>
    </div>
    
{% endblock %}

{% block footer %}
    <p>Acia Chouchane - Tous droits réservés<br>
        CC BY-NC-ND</p>
{% endblock %}