{% extends 'base.html.twig' %}

{% block title %}Onglet{% endblock %}

{% block page_title %Titre page{% endblock %}

{% block content %}
<section id="section1">
    <h2>Titre 1</h2>
    <p>Paragraphe pour le titre 1.
    </p>
</section>

<section id="section2">
    <h2>Titre 2</h2>
    <p>Paragraphe pour le titre 2.</p>
</section>

<section id="section3">
    <h2>Titre 3</h2>
    <p>Paragraphe pour le titre 3.</p>
</section>
{% endblock %}

{% block footer %}
<p>Acia Chouchane - Tous droits réservés<br>CC BY-NC-ND</p>
{% endblock %}