{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block page_title %}Nouvelle page{% endblock %}

{% block content %}
<!-- A rajouter dans la navbar dans le fichier base.html.twig :
    Afficher la page test.html.twig dans la navbar 
     <li class="nav-item">
        <a class="nav-link" href="{{ path('app_test') }}">Citations</a>
    </li>
-->

<h2 class="img-text-container">Citation</h2>
    <div class="img-text-container text-center" id="img1">
        <figure style="display: inline-block; width: 50%;">
            <img src="{{ asset('img/citation.png') }}" alt="Maison en SuperAdobe" class="img-fluid" style="display: block; margin: 0 auto;">
        </figure>
        <p>
            Ne vous trompez pas entre ma personnalité et mon attitude...<br>
            Ma personnalité est qui je suis, mon attitude dépend de qui vous êtes !
        </p>
    </div>
{% endblock %}

{% block footer %}
<p>Acia Chouchane - Tous droits réservés<br>CC BY-NC-ND</p>
{% endblock %}